body {
  font-family: Arial;
  text-align: center;
  background: #f0f4f8;
}

.quiz-container {
  margin-top: 80px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  width: 200px;
  cursor: pointer;
}

#result {
  font-size: 20px;
  margin-top: 20px;
}
